p {
    font-size: 16px;
}

body {
    background: linear-gradient(to right, black 50%, white 50%);
    height: 100vh;  /* Make sure the background covers the whole page */
    margin: 0;      /* Remove default margin */
}

  .white-text {
    color: white;
  }
  .black-text {
    color: black;
  }

.container {
    margin-right: 20px;
    text-align: right;
}

